@model List<Concert>
@foreach(var item in Model){
    <div class="card" style="width: 18rem">
        <img class="card-img-top" src="">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Buy ticket</a>
        </div>
    </div>
}